/* Task 11 */
h1{
    color:purple;
}

/* Task 12 */
p{
    font-size:20px;
    color:darkgreen;
}

/* Task 13 */
nav{
    background:black;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:20px;
}

/* Task 14 */
input{
    width:300px;
    padding:10px;
    border:1px solid gray;
}

/* Task 15 */
.hero{
    background-color:lightblue;
    padding:20px;
    text-align:center;
}